name: CD

on:
  push:
    branches:
      - master

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache-dependency-path: "go.sum"

      - name: Run tests with coverage
        run: |
          PKGS=$(go list ./... | grep -v /mocks | grep -v /cmd/ | tr '\n' ',')
          go test ./... -covermode=atomic -coverprofile=coverage.txt -coverpkg="$PKGS"

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
