name: CI

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache-dependency-path: "go.sum"

      - name: Lint code
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
          working-directory: .

  build:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        component: [server, worker, pogocache]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Build ${{ matrix.component }} Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.${{ matrix.component }}
          push: false
          tags: nadmax/nexq-${{ matrix.component }}:${{ github.sha }}

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache-dependency-path: "go.sum"

      - name: Run tests
        run: go test -v ./...
